{
  // Override our default settings just for this directory
  "env": {
    "mocha": true
  },
  "globals": {
    "describe": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true
  }
}
